.group-2JyOhh7Z- + .group-2JyOhh7Z- {
    padding-top: 1px !important;
    margin-top: 0;
}

.fill-2axUON87- {
    display: none;
}

.wrap-3tiHesTk- {
    justify-content: flex-end;
    margin-right: 30px;
}

.group-wWM3zP_M- {
    background: #18222B;
    cursor: pointer;
}

.button-2ioYhFEY-.isInteractive-20uLObIc- {
    cursor: pointer;
}

.feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:hover {
    color: #1c65a6;
}

#loading-indicator, body.chart-page {
    background: 0 0
}

.container-3_8ayT2Q- .background-Q1Fcmxly- {
    fill: #1C65A6;
    stroke: #1C65A6
}

.button-263WXsg--, .button-2ioYhFEY- {
    color: #758696
}

.button-2ioYhFEY-.isInteractive-20uLObIc-:hover:before, .button-263WXsg--:hover .bg-1kRv1Pf2- {
    background: #18222B;
}

.button-263WXsg--:hover .bg-1kRv1Pf2- {
    color: #1C65A6
}

.button-2ioYhFEY-.isInteractive-20uLObIc-.isOpened-p-Ume5l9-:before {
    background: #18222B;
}

.button-2ioYhFEY-.isInteractive-20uLObIc-.hover-yHQNmTbI-:before, .button-2ioYhFEY-.isInteractive-20uLObIc-:active:before {
    background: #18222B;
}

.button-2ioYhFEY-.isInteractive-20uLObIc-.isOpened-p-Ume5l9-:hover:before {
    background: #18222B;
}

.button-263WXsg--:active .bg-1kRv1Pf2- {
    background: #18222B;
}

.button-263WXsg--.isTransparent-sRmateFl-.isActive-2mI1-NUL-:hover .bg-1kRv1Pf2- {
    background: #18222B;
}

.chart-page {
    background: 0 0;
}

.pane-legend-line.pane-legend-wrap.main .pane-legend-line__wrap-description {
    display: none;
}

.chart-widget--themed-dark .pane-legend-minbtn {
    display: none;
}

.chart-page .chart-container-border {
    background: 0, 0;
}
